 body {
                padding-top: 40px;
                padding-bottom: 40px;
                justify-content: center;


              }
         
         .container
         {
           display: flex;
           align-items: center;
           flex-direction: column;
           height: auto;
           padding: 10px;
           
         } 
         

         h2{
            text-align: center;
            color: black;
            font-size: 40px;
            font-family: sans-serif;
           }
         .form-control
           {
            position: relative;
            height: auto;
            box-sizing: border-box;
            font-size: 15px;
            padding:10px;
            
           }
           input
           {
            margin: 20px;
            border-radius: 5px;
            border-color: black;
                  
           }

           .btn
           {
            position: relative;
            dipl             s
            ay: flex;
            margin-left: 100px;
            font-size: 20px;
            width: auto;


           }

           form, .content {
             width: 50%;
             margin: 0px auto;
             padding: 20spx;
             border: 1px solid #B0C4DE;
             background: white;
             border-radius: 23px;
             
           }